body {
  height: 100vh;
}

.image-display {
  display: block;
  margin: 12vh auto auto auto;
  /* Thanks to StackOverflow user setec!
   * https://stackoverflow.com/questions/12991351/how-to-force-image-resize-and-keep-aspect-ratio
   */
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  vertical-align: middle;
  height: 65vh;
  margin: auto;
}

.footer {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  bottom: 2.5vh;
}
